.lightmode{
    --background-color:#FBFBFB;
    --color:black;
    --border: #C4D9FF;
    --card-bg:#E8F9FF;
    --text-shadow:transparent;
}

.darkmode{
    --background-color: #435570;
    --color: #d98a71;
    --border: #c49484;
    --card-bg: #2a3a52;
    --text-shadow:black;
}