.lightmode{
    --background-color:#FBFBFB;
    --color:#303030;
    --border: #9B5DE0;
    --card-bg:#C4D9FF;
    --text-shadow:#9B5DE0;
}

.darkmode{
    --background-color: #435570;
    --color: #d98a71;
    --border: #c49484;
    --card-bg: #2a3a52;
    --text-shadow:black;
}