:root{
    scroll-behavior: smooth;
    font-weight: 800;

}
body{
    padding:0;
    margin:0;
    background-color:var(--background-color);
    color: var(--color);
    border-color: var(--border);
    transition: ease-in-out .3s;
}

.top-right{
    color: var(--color);
    text-decoration: none;
    font-weight: 800;
    padding:8px;
    border:solid 2px;
    border-radius: 15px;
    background-color: var(--background-color);
    font-size: 25px;
    cursor:pointer;
    position: sticky;
    top: 8px;
    float:right;
    margin:8px;
}
.top-right:hover{
    transform: scale(1.1);
    filter: contrast(1.2);
    transition: ease-in-out .5s;
}
.top-left{
    color: var(--color);
    text-decoration: none;
    font-weight: 800;
    padding:8px;
    border:solid 2px;
    border-radius: 15px;
    background-color: var(--background-color);
    font-size: 25px;
    cursor:pointer;
    position: sticky;
    top: 8px;
    float:left;
    margin:8px;
}
.top-left:hover{
    transform: scale(1.1);
    filter: contrast(1.2);
    transition: ease-in-out .5s;
}

.card{
    background-color: var(--card-bg);
    padding: 8px;
    display: relative;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border: solid 2px var(--border);
    border-radius:15px;
}
/*Typing effect*/
.TypingEffect{
    position: relative;
    margin-right:8px;
}
.TypingEffect::before{
    content: "Good Food";
    color:var(--color);
    animation: words 8s infinite;
}
.TypingEffect::after{
    content:"";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid var(--color);
    background-color: var(--card-bg);
    right: -8px;
    animation: cursor .8s infinite, typing 8s steps(14) infinite;
}
@keyframes cursor{
    to {
        border-left: 2px solid var(--color);
    }
}
@keyframes words{
    0%,20%{
        content: "Good Food";
    }
    21%,40%{
        content: "Good Health";
    }
    41%,60%{
        content: "Good Study";
    }
    61%,80%{
        content: "Good Excercise";
    }
    81%,100%{
        content: "Good Sleep";
    }

}
@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
/*Typing effect*/
/*Clock*/
.clock-container{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Photos/matching-icons-coffee-cute-Favim.com-8263768.jpg);
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.clock-container #clock{
    padding: 8px;
    font-family: "Matemasie", sans-serif;
    font-size: 45px;
    text-align: center;
    backdrop-filter: blur(3px);
    border-radius: 8px;
    filter: drop-shadow(0 0 3px var(--text-shadow));
    border: 2px solid var(--border);
    width: 100%;

}
/*Clock*/

/*Rock Paper Scissors*/


.rock-paper-scissors-container .screen{
    text-align: center;
    justify-content: center;
    
}
.rock-paper-scissors-container .screen p{
    text-align: center;
    justify-content: center;
    padding: 0;
    font-size: 25px;
    margin: 0px;
    border: solid 2px var(--border);
    color: var(--color);
    background-color: var(--background-color);
    border-radius: 8px;
    filter: drop-shadow(0 0 2px var(--color));
}
.rock-paper-scissors-container .screen i{
    color: var(--color);
    font-size: 50px;
    padding: 15px;
}
.rock-paper-scissors-container .buttons{
    justify-content: center;
    display: flex;
}
.rock-paper-scissors-container .buttons button{
    width: 30%;
    padding: 15px;
    margin: 3px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 25px;
    color: var(--color);
    border-radius: 8px;
    border: solid 2px var(--border);
}
.rock-paper-scissors-container .buttons button:hover{
    background-color: var(--card-bg);
    transition: .3s ease-in-out;
}
.rock-paper-scissors-container .volumebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}
.rock-paper-scissors-container .volumebox p{
    margin-top: 5px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 10px;
    color: var(--color);
    margin-left: auto;
    margin-right: auto;
}
.rock-paper-scissors-container .volumebox input{
    width: 90%;
    height: 15px;
    appearance: none;
    background-color: var(--border);
    border-radius: 15px;
    opacity: 0.7;
    transition: .2s ease-in;
    filter: drop-shadow(0 0 2px var(--border));
    cursor: pointer;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.rock-paper-scissors-container .volumebox input:hover{
    opacity: 1;
}
.rock-paper-scissors-container .volumebox input::-webkit-slider-thumb {
  position: relative;
  left: initial;
  -webkit-appearance: none;
  background-color: var(--card-bg);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.rock-paper-scissors-container .volumebox input::-moz-range-thumb {
  position: relative;
  left: initial;
  -moz-appearance: none;
  background-color: var(--card-bg);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 2px;
  margin-bottom: 2px;
}

/*Rock Paper Scissors*/

/*Calculator*/
.center{
    justify-content: center;
    align-items: center;
    display: flex;
}
#calculator {
    background: var(--background-color);
    border-radius: 8px;
    border:solid 2px var(--border);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 250px;
}
#display{
    background: var(--background-color);
    border: none;
    filter: drop-shadow(0px 0px 5px var(--text-shadow));
    width: 95%;
    border-radius: 8px;
    padding: 15px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: var(--color);
    text-shadow: 0 2px var(--text-shadow);
}
#keys{
    margin: 3px;
    background: var(--background-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    
}
#calculator button{
    margin: 3px;
    
    background-color: var(--background-color);
    border-radius: 50px;
    border: solid 2px var(--border);
    width: 50px;
    height: 50px;
    color: var(--color);
    filter: drop-shadow(0 0 0 var(--text-shadow));

    text-align: center;
    text-shadow: 0px 2px var(--text-shadow);
    font-size: 25px;
    font-family: "Press Start 2P", sans-serif;
    cursor: pointer;
}
#calculator .operator-btn{
    background-color: var(--card-bg);
}
#calculator button:hover{
    filter: contrast(1.25);
}
#calculator button:active{
    filter: brightness(1.25);
}
/*Calculator*/

/*Secret button :)*/
.secretbutton{
    color: var(--color);
    background-color: var(--background-color);
    border: solid 2px var(--border);
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    font-family: "Matemasie", sans-serif;
    cursor: pointer;
    filter: drop-shadow(0 0 2px var(--text-shadow));
    text-shadow: 0 3px var(--text-shadow);
}
.secretbutton:hover{
    filter: contrast(1.25);
}
.secretbutton:active{
    filter: brightness(1.25);
}
/*Secret button :)*/

/*Comments section*/
.comment-container{
    border: solid 2px var(--border);
    border-radius: 8px;
    padding: 12px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    
}
.comment-container .comment{
    margin-bottom: 15px;
    padding: 8px;
    font-size: 18px;
}
.comment-container .btn{
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    border: solid 2px var(--border);
    background-color: var(--card-bg);
    color: var(--color);
    width: max-content;
    margin-left: auto;
}
.comment-container .btn:hover{
    filter: contrast(1.25);
}
.comment-container .btn:active{
    filter:brightness(1.25)
}
.comment-container .comment-reply{
    display: flex;
    flex-direction: column;
}
.comment-container .comment-reply textarea{
    padding: 8px;
    margin: 8px;
    background-color: var(--background-color);
    border-radius: 8px;
    border: solid 2px var(--border);
    min-height: 50px;
    color: var(--color);
    resize: vertical;
    outline: none;
    font-size: 18px;
    font-weight: 600;
}
.hidden{
    display: none !important;
}

/*Comments section*/

/*Waifu API*/
.waifucontainer{
    display: flex;
    flex-direction: column;
}
.waifucontainer .bubbleicon{
    text-align: center;
    font-size: 50px;
    font-family: "Press Start 2P", sans-serif;
}
.waifucontainer .bubbleicon img{
    width:100%;
    border-radius: 15px;
    border: solid 2px var(--border);
}

.waifucontainer .radios{
    color: var(--color);
}
.waifucontainer .sleections select{
    background-color: var(--background-color);
    border: var(--border) 2px solid;
    height: 50px;
    color: var(--color);
    width: 100%;
    text-align: center;
    font-family: "Matemasie", sans-serif;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
}
.waifucontainer .sleections select:hover{
    filter: contrast(1.25);
}


.waifucontainer #generatemywaifu{
    background-color: var(--background-color);
    border: var(--border) solid 2px;
    font-family: "Matemasie", sans-serif;
    font-size: 25px;
    color: var(--color);
    border-radius: 15px;
    cursor: pointer;
}
.waifucontainer #generatemywaifu:hover{
    filter: contrast(1.25);
}
/*Waifu API*/
