:root{
    scroll-behavior: smooth;
    font-weight: 800;

}
body{
    padding:0;
    margin:0;
    background-color:var(--background-color);
    color: var(--color);
    border-color: var(--border);
    transition: ease-in-out .3s;
}
header{
    position:sticky;
    top:0;
}
/*Navbar*/
.navbartop{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    background-color:none;
    flex-wrap: wrap;
    justify-content: center;

    position:sticky;
    top:0;
    z-index: 50;
}
.navbartop li{
    padding: 5px;
    display: flex;
}
.navbartop li a, .navbartop li button{
    color: var(--color);
    text-decoration: none;
    font-weight: 800;
    padding:5px;
    border:solid 2px;
    border-radius: 15px;
    background-color: var(--background-color);
    font-size: 25px;
    padding:8px;
    cursor:pointer;
}
.navbartop li a:not(:hover) , .navbartop li button:not(:hover){
    opacity: 80%;
}
.navbartop li a:hover , .navbartop li button:hover{
    color: lightgray;
}

/*Intro photo etc*/

.homeintro{
    margin: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-shadow: 0 0 5px var(--text-shadow);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border:2px solid;
    border-radius: 15px;;
    padding:20px;
    background-color: var(--card-bg);
}
.homeintro img{
    width:100%;
    animation: boxsha 3s infinite;
    border-radius: 15px;
    margin:0px;
}
.homeintro .hometext{
    margin-right: 15px;
}
.homeintro:hover{
    transform: scale(1.012);
    filter: contrast(110%);
    transition: .5s;
}
.container:hover{
    transform: scale(1.012);
    transform: rotate(-3deg);
    filter: contrast(110%);
    transition: .5s;
}
@keyframes boxsha {
    0% {filter: drop-shadow(0 0 8px var(--border));}
    50% {filter: drop-shadow(0 0 8px black);}
    100% {filter: drop-shadow(0 0 8px var(--border));}
}
@media only screen and (max-width: 768px) {
    .homeintro{
        flex-direction: column-reverse;
        text-align: center;
        max-width: 75%;
    }
    .homeintro .hometext{
        margin-right: 0px;
    }
}
.container{
    margin: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-shadow: 0 0 5px var(--text-shadow);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border:2px solid;
    border-radius: 15px;;
    padding:20px;
    background-color: var(--card-bg);
    
}
@media only screen and (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
        text-align: center;
        max-width: 75%;
    }
}
.bottom-right{
    font-size: 25px;
    color: var(--color);
    border:solid 2px var(--color);
    border-radius: 15px;
    padding: 6px;
    position: sticky;
    bottom: 8px;
    float:right;
    margin:8px;
}
.bottom-left{
    font-size: 25px;
    color: var(--color);
    border:solid 2px var(--color);
    border-radius: 15px;
    padding: 6px;
    position: sticky;
    bottom: 8px;
    float:left;
    margin:8px;
    text-decoration: none;
}
.container h2{
    font-family: "Press Start 2P", sans-serif;
}
.socials{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.socials li{
    display: inline-flex;
    padding-right: 8px;
}
.socials li a{
    color: var(--color);
    text-decoration: none;
    font-size: 40px;
}